.container-main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
} 


@media (min-width: 992px) {
    .rounded-lg-3 {
      border-radius: 0.3rem;
    }
  }
  body {
    background-image: url("mockup/images/texture-light@2x.jpg");
    background-size: cover;
  }

  .mail,
  .mail:focus {
    background-color: dimgray;
  }

  .plcholder {
    color: #fff;
  }

  .form-floating textarea {
    min-height: 10rem;
    padding: 0 8px 8px;
  }

  .form-floating {
    background-color: none;
  }

  .custom-form > .btn {
    background-color: rgb(209, 54, 57);
  }

  .custom-form > .btn:hover {
    background-color: black;
    color: #fff;
  }

  .list-unstyled > li {
    margin-bottom: 2rem;
  }

  .media-link {
    text-decoration: none;
    color: rgb(209, 54, 57);
  }

  .media-link:hover {
    text-decoration: underline;
    color: #252423;
    font-weight: 500;
  }