
/* nav a:nth-child(1) {
    background-color: rgb(209, 54, 57);
    border-radius: 10px;
} */

/* ================ FEATURED ==================== */

.container-main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.feat-container
{
    display: flex;
    background-color:burlywood;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0px 40px;
}

.poster-container
{
    display: flex;
}

.content-inner
{
    text-align: center;
}

.content-inner img
{
    width: 400px;
}

.content-inner > h1.feature-title
{
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.content-inner h2
{
    font-size: medium;
    color: rgb(211, 211, 211);
}

.content-inner .btn-watch
{
    background-color: rgb(209, 54, 57);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: xx-large;
    padding: 10px 17px;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    /* box-shadow: inset 0 5px 20px rgba(5, 5, 5, 0.5); */
}

.content-inner .btn-watch:hover
{
    box-shadow: 0 2px 50px rgba(196, 5, 21, 0.5);
    font-weight: 700;
    color: rgb(0, 0, 0);
}


/* -------------------- END OF FEATURED ------------------ */

/* ================ LATEST NEWS ==================== */
.latest-news-container
{
    background-color: #e7e6e3;
    background-size:contain;
    background-repeat: no-repeat;

}

.cards-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 40px;
    justify-content: center;
    row-gap: 1em;
    column-gap: 2.1em;
}

.title-bar
{
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    /* background-color: rgb(209, 54, 57); */
    background-color: #252423;
    /* margin-bottom: 50px; */
    border-top: 5px solid rgb(209, 54, 57);
}

.cards-container > .card-news
{
    width: 25em;
    position: relative;
}

.cards-container > .card-news img
{
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* .cards-container > .card-news h6
{
    margin: 0;
    transform: rotate(-90deg);
    margin-left: -30px;
    margin-top: 55px;
    position: absolute;
} */

.cards-container > .card-news span
{
    background-color: rgb(209, 54, 57);
    color: #fff;
    font-weight: 300;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .8px;
    padding: 0 4px;
    /* border: 1px solid #252423; */
    position: absolute;
    right: 0;
}

.cards-container > .card-news p
{
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
}

/* .cards-container > .card-news:hover
{

} */


/* ----------------------- END OF LATEST NEWS ----------------------- */

/* ================ ESPORTS ==================== */
.esports-container {
    background-image: linear-gradient(to bottom right, rgb(2, 2, 2), rgb(209, 54, 57));
}

.cards-container-esports
{
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.card-esports
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.479);
    overflow: hidden;
    border-radius: 1em;
}

.card-esports:hover {
    border-radius: 1em;
    background: linear-gradient(50deg, #252423, rgb(209, 54, 57));
}
.card-esports .inner-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    align-items: center;
    overflow: hidden;
    width: 50vw;
    padding: 20px;
}

.card-esports .inner-image
{
    width: 100%;
    height: 100%;
    clip-path: polygon(100% -700%, 100% 0, 100% 100%, 0 100%);
}

.card-esports .inner-image > img
{
    object-fit: cover;
    flex-basis: 100%;
    width: 100%;
    height: 100%;
    position: relative;

}


/* ------------------ END OF ESPORTS ----------------------- */


/* ==================   ACCORDION ================ */
.card {
    background-color: #1d1b1b;
    border: none;
    border-radius: 0;
}

.card-title {
    color: #e7e6e3;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-text {
    color: #8fa3b0;
    text-align: justify;
}

.col > a {
    text-decoration: none;
}

a:hover > .card > .card-body > .card-title  {
    text-decoration: underline;
    text-decoration-color: #00c8c8;
}

.card {
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}

.card > img {
  /* display: block; */
  transition: transform .4s;   /* smoother zoom */
}
a:hover > .card > img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.card > a {
    text-decoration: none;
}

.card-body:hover > .card-title {
    text-decoration: underline;
    text-decoration-color: white;
}

.article {
    background-color: #1b1a1a;
}


.img-holder {
    background-size: cover;
    background-position: center;
    clip-path: polygon(100% -700%, 100% 0, 100% 100%, 0 100%);
}

.unordered-list {
    list-style: none;
    padding-left: 12px;
}

.unordered-list > li,
.col > a >.big-article {
    border-radius: 10px;
}

.row > .btn-seemore {
    background-color: #202020;
    color: #fff;
    text-align: center;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    width: 150px;
    align-self: center;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #e7e6e3;
}

.row > .btn-seemore:hover {
    background-color: #2e2d2d;
    color: #fff;
}

.accordion-button {
    /* height: 10rem; */
}
.accordion-button:hover {
    color: #8fa3b0
}

.blue-bg {  
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(1,6,42,1) 100%);
}

.purple-bg {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(45,15,60,1) 100%);
}

.bg-red {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(60,15,15,1) 100%);
}

.bg-yellow {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 45%, rgba(77,76,19,1) 100%);
}

.orange-bg {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(84,49,1,1) 75%, rgba(120,78,1,1) 100%);
}

.bg-mint {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(1,84,54,1) 75%, rgba(1,120,82,1) 100%);
}

.acc-style-news,
.acc-style-riot,
.acc-style-game,
.acc-style-job {
    font-size: 3rem;
    border-bottom: .5rem solid #1b1a1a;
    padding: 0;
}

.acc-style-news {
    color: red;
}

.acc-style-riot {
    color: rgb(136, 42, 136);
}

.acc-style-game {
    color: #00c8c8;
}

.acc-style-job {
    color: orange;
}

.acc-title {
    margin-left: 5rem;
    background-color: #1b1a1a;
    padding: .5rem 3rem;
}

.acc-style-news {
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(104deg, rgba(0,0,0,1) 0%, rgb(48, 41, 1) 45%, rgb(73, 71, 0) 100%); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(39,43,2,1) 70%, rgba(77,76,19,1) 100%); */
    background-image: url('/mediahub/home/red.jpg');
    background-size:cover;
}

.acc-style-riot {
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(104deg, rgba(0,0,0,1) 0%, rgb(51, 4, 4) 45%, rgb(99, 0, 0) 100%); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(43,2,2,1) 70%, rgba(60,15,15,1) 100%); */
    background-image: url('/mediahub/home/puprle.jpg');
    background-size:cover;
}

.acc-style-game {
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(104deg, rgba(0,0,0,1) 0%, rgb(41, 2, 61) 45%, rgb(51, 1, 90) 100%); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(38,2,43,1) 70%, rgba(45,15,60,1) 100%); */
    background-image: url('/mediahub/home/mint.jpg');
    background-size:cover;
}

.acc-style-job {
    /* background: rgb(0,0,0); */
    /* background: linear-gradient(104deg, rgba(0,0,0,1) 0%, rgb(2, 4, 31) 45%, rgb(0, 8, 77) 100%); */
    /* background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(2,4,43,1) 45%, rgba(0,8,85,1) 100%); */
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(2,4,43,1) 70%, rgba(1,6,42,1) 100%); */
    background-image: url('/mediahub/home/orange.jpg');
    background-size:cover;
}

/* ======================= LIST GROUP JOB HIRING ==================== */
.list-group > .list-group-item {
    background-color: #000000c0;
    color: #e7e6e3;
    font-size: 1.5rem;
}

.list-group > .list-group-item:hover {
    color: rgb(209, 54, 57);
}




/* @@@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@@@@@@@@@@ */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
/* header nav a
{
   visibility: hidden;
} */

/* ==================== FEATURED ================= */

/* ==================== ESPORTS ================= */
.card-esports
{
    height: 250px;
}

.card-esports .inner-content > h2 {
    font-size: medium;
    font-weight: 400;
}

.card-esports .inner-content > p {
    font-size: 10px;
    font-weight: 300;
}

.card-esports .inner-content {
    padding: 10px 4px 10px 12px ;
    text-align: center;
}
/* ---------------  END OF ESPORTS ------------ */

/* ================== LATEST NEWS ============== */
.cards-container
{
    row-gap: 3em;
}

.title-bar
{
    font-size: 2.5em;
}

.cards-container > .card-news
{
    width: 35em;
}

.cards-container > .card-news > .texts > p {
    line-height: 1.5em;
}
.cards-container >.card-news img
{
    object-fit: cover;
    width: 100%;
    height: 270px;
}

/* ============== FOOTER ============== */
/* .footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px 10px 0 10px;
    align-items: center;
} */

.riot-logo-box {
    margin-bottom: 10px;
}

/* .footer-container .riot-logo-box {
    width: 100px;
} */

/* .footer-container .nav-footer {
    border-top: 1px dotted #949290;
}

.footer-container .nav-footer {
    margin-bottom: 20px;
}

.footer-container .social-link {
    margin-bottom: 10px;
}
} */
}



/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */


