
main {
    margin-top: -1.5rem;
}
.container-main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.esports-container {
    display: grid;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    background-color: #0f1519;
    border-bottom: 2px solid #00c8c8;
}

.banner-container {
    width: 100%;
    height: 60vh;
    border-bottom: 2px solid #00c8c8;
    margin-top: 0;
}

.banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .content {
    display: grid;
    grid-template-columns: 1fr 35vw;
    justify-content: flex-start;
    align-items: flex-start;

} */


._content {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.heading h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 3rem;
    row-gap: 2rem;
    margin: 0 1rem 2rem 0;
    padding-top: 3em;
    border-top: 1px solid #8fa3b065;
}

.cards-link {
    text-decoration: none;
}

.custom-card .image-holder img {
    width: 100%;
    object-fit:cover;
}

.text-holder {
    /* background-color: #e7e6e3; */
    /* color:#0f1519; */
    color: #e7e6e3;
}

.text-holder h5 {
    margin-top: 10px;
    font-size: medium;
    font-weight: 500;
    letter-spacing: .05rem;
    color: #8fa3b0;
}

.text-holder span {
    padding: 1rem;

}

.text-holder h2 {
    /* margin-top: -1.5rem; */
    font-size: 1.2rem;
    font-weight: 600;
}

/* .show-more-container {
    position: absolute;

} */
a.btn-show-more::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #00c8c8;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 1;
    border-radius: 3em;
    transition: clip-path 150ms ease-out;
}

.vod-container li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #00c8c84d;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -1;
    transition: clip-path 150ms ease-out;
}

.btn-show-more:hover .btn-style,
.btn-show-more:hover .btn-style span {
    font-size: 1em;
    font-weight: 600;
    color: #0f1519;
}

a.btn-show-more::before,
.vod-container li a::before {
    clip-path: polygon(
      0% 0%,
      0% 0%,
      -1rem 100%,
      -1rem 100%
    );
}

a.btn-show-more:hover::before,
.vod-container li a:hover::before {
    clip-path: polygon(
      0% 0%,
      calc(100% + 1rem) 0%,
      100% 100%,
      -1rem 100%
    );
}

.btn-show-more {
    /* background-color: #232629; */
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    border-radius: 3em;
    margin-top: 2em;
    border: none;
    position: relative;
    align-self: center;
    text-align: center;
}

.btn-bg {
    background-color: #232629;
    border-radius: 3em;
    font-size: 1.2rem;
}

.btn-show-more .btn-style span {
    color: #fff;
    padding-left: 0.2em;
}

.btn-show-more .btn-style {
    position: relative;
    z-index: 1;
}

/* =============== SIDEBAR ====================== */

.sidebar {
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center; */
    /* min-width: 45vw; */
    border-left: 1px solid #8fa3b065;
    background-color: #0a0e13;
    /* padding: 0 2rem 0 2rem; */
}

.vod h4 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 2rem;

}

.vod {
    border-bottom: 1px solid #8fa3b065;
    /* padding: 0 2rem 0 2rem; */
}


.vod-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    padding: 0;
    row-gap: 1rem;
}

.vod-container li a {
    display: grid;
    grid-template-columns: 15vw 1fr;
    grid-template-rows: auto;
    text-decoration: none;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

/* .image-match {
    width: 14vw;
} */

.image-match img {
    width: 100%;
    height: 100%;
}

.details {
    padding-left: .5rem;
}
.details .match-game {
    font-weight: 500;
    color: #fff;
}

.details .league {
    color: #8fa3b0;
}

.load-match {
    margin-bottom: 2rem;
    text-align: center;
}

.load-match a {
    text-transform: uppercase;
    color: #00c8c8;
    text-decoration: none;
}
/* ==================== END OF SIDEBAR ================== */





/* ====== BOOTSTRAP ======= */
.featured-content {
    background-color: #0a0e13;
}

.feat-title {
    color: #fff;
}

.lead {
    color: #bec7cc;
}

.continue {
    color: #00c8c8;
    text-decoration: none;
}

.continue:hover {
    color: #00c8c8;
    text-decoration: underline;
}

.content {
    background-color: #0f1519;
    border-top: 1px solid #bec7cc;
}

.heading {
    border-bottom: 1px solid #00c8c8;
    border-bottom-style: dashed;
}

.card {
    background-color: #00000041;
    border: none;
    border-radius: 0;
}

.card-title {
    color: #e7e6e3;
}

.card-text {
    color: #8fa3b0;
    text-align: justify;
}

.col > a {
    text-decoration: none;
}

a:hover > .card > .card-body > .card-title  {
    text-decoration: underline;
    text-decoration-color: #00c8c8;
}

.card {
    overflow: hidden;            /* clip the excess when child gets bigger than parent */
}

.card > img {
  display: block;
  transition: transform .4s;   /* smoother zoom */
}
a:hover > .card > img {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 3rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    max-height: 32rem;
  }
  
  
/* @@@@@@@@@@@@@@@@@@@@@ MEDIA QUERIES @@@@@@@@@@@@@@@@@@ */

@media screen and (max-width: 500px) {
    .carousel-caption {
        padding: 0 .5rem;
        bottom: 1rem;
        z-index: 10;
        font-size: .8rem;
      }

      .carousel-caption p {
        
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
                line-clamp: 7;
        -webkit-box-orient: vertical;
      }
}

@media screen and (min-width: 500px) {
    .btn-show-more {
        width: 10rem;
    }
}

@media screen and (max-width: 767px) {
    .vod-container li a {
        grid-template-columns: 30vw 1fr;

    }
}



